<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"$if(lang)$ lang="$lang$" xml:lang="$lang$"$endif$>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="pandoc" />
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="date" content="$date-meta$" />
$endif$
<title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>

$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>

<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item is-tab" href="#">Home</a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item is-tab" href="#">Chapters</a>
    <a class="nav-item is-tab" href="#">Texts</a>
  </div>
</nav>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        $if(title)$
        $title$
        $endif$
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-desktop">
    <div class="column">
      <aside class="menu">
        $if(toc)$
        $toc$
        $endif$
      </aside>
    </div>
    <div class="column is-half">
      <div class="content is-medium">

        $body$
      </div>
    </div>
    <div class="column"></div>

  </div>
</section>

</body>
</html>
