//_body.scss
// Basic styles for the body of the page

h1, h2, h3, h4, h5, h6 {
    padding-top: $header-padding;
    padding-bottom: $header-padding;
    font-family: $font;
}

h1 {
    font-size: $h1-font-size;

    &.title {
        font-size: $title-font-size;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 0px;
    }
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}


ul, ol {
    margin-top: $box-padding;
    margin-bottom: $box-padding;
}

li {
    margin-left: 45px;
    padding-left: 5px;
}


a {
    text-decoration: none;
    color: $text-colour;
    font-size: $small-font-size;
    font-family: $font;
}

app a {
    background-color: $rule-colour;
    border-radius: 50px;
    padding: 2px 5px 2px 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: $box-padding;
    margin-bottom: $box-padding;
}

th {
    //font-weight: bold;
    font-size: $body-font-size;
    //color: lighten($text-colour, 10%);
    color: $table-odd-colour;
    border-bottom: 1px solid darken($table-colour, 30%);
    background-color: $table-header-colour;
}

td {
    border-bottom: 1px solid darken($table-colour, 10%);
}

th, td {
    padding: 5px 10px 5px 10px;
}

tr {
    &.even {
        background-color: $table-even-colour;
        &:hover {
            background-color: darken($table-even-colour, 20%);
        }
    }

    &.odd {
        background-color: $table-odd-colour;

        &:hover {
            background-color: darken($table-odd-colour, 20%);
        }
    }
}

caption {
    font-family: $font;
    padding-bottom: 10px;
}