//_features.scss
// Styles for custom Markdown features

.example {
    @include highlight($example-colour);
    position: relative;
    color: $grey;
}

.example-target {
    font-size: $size-5 + 2;
}

.example-gloss {
    font-variant: small-caps;
}

.example-native {
    font-style: italic;
}

.example-tag {
    @include tag($example-colour);
}

.rule {
    @include highlight($rule-colour);
    position: relative;
    color: $grey;
}

.rule-name {
    font-family: $family-sans-serif;
}

.rule-definition {
    font-variant: small-caps;
}

.word {
    position: relative;
    font-style: italic;

    .definition {
        display: none;
    }

    &:hover {
        .definition {
            display: inline-block;
            @extend .box;
            position: absolute;
            margin-left: 2px;
            width: 15em;
            padding: 10px;

            font-size: $size-6;
            font-style: normal;
            font-weight: bold;
            text-align: left;
        }
    }
}

.full-definition {
    font-style: italic;
    font-weight: normal;
    text-align: left;
}

.footnoteRef {
    vertical-align: super;
    font-size: 0.7em;
    text-decoration: none;
}

aside.sidenote {
    right: 20px;
    position: absolute;
    width: (1 / 6) * 100%;


    p {
        display: inline;
        color: $text-light;
            font-size: $size-6;

    }

    a {
        display: none;
    }

    .ref-mark {
        color: $text-light;
        margin-right: 0.5em;
        position: absolute;
        left: -1em;
            font-size: $size-6;

    }
}
