//_features.scss
// Styles for custom Markdown features

.example {
    @include boxed($example-colour);
    position: relative;

}

.example-target {
    font-size: $size-5 + 2;
}

.example-gloss {
    font-variant: small-caps;
}

.example-native {
    font-style: italic;
}

.example-tag {
    @include tag($example-colour, $background);
}

.rule {
    @include boxed($rule-colour);
}

.rule-name {
    font-family: $family-sans-serif;
}

.rule-definition {
    font-variant: small-caps;
}

.word {
    position: relative;
    font-style: italic;

    .definition {
        display: none;
    }

    &:hover {
        .definition {
            display: inline-block;
            background-color: $example-colour;

            position: absolute;
            margin-left: 2px;
            padding-left: 4px;
            padding-right: 4px;
            width: 10em;
            border-radius: 10px;

            font-size: $size-6;
            font-family: $family-sans-serif;
            font-style: normal;
            font-weight: bold;
        }
    }
}

.full-definition {
    font-style: italic;
    font-weight: normal;
    text-align: justify;
}

.footnoteRef {
    vertical-align: super;
    font-size: 0.7em;
    text-decoration: none;
}

aside.sidenote {
    right: 20px;
    position: absolute;
    width: (1 / 6) * 100%;

    text-align: left;

    font-size: $size-6;

    p {
        display: inline;
        color: $text-light;
    }

    a {
        display: none;
    }

    .ref-mark {
        color: $text-light;
        margin-right: 0.5em;
        position: absolute;
        left: -1em;
    }
}
