//_home.scss
// Styles that define the basic page layout and behaviour

* {margin: 0; padding: 0;}

html{
    background: $background-colour;
    font-family: $font;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    z-index: 3;
    flex-shrink: 64px;
    height: $header-height;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: $green;
    border-bottom: 1px solid darken($green, 20%);
}


app {
    flex-grow: 1;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $text-colour;
}

nav {
    display: block;
    position: absolute;
    left: -$sidebar-width;
    height: 100%;
    z-index: 2;
    transition-duration: 1s;

    //background: lighten($blue, 35%);
    //border-right: 2px solid lighten($blue, 20%);

    &.open {
        left: 0px;
    }
};

article {
    margin: 0 auto 0 auto;
    max-width: $body-width;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

// Sidebar controls for the mobile view (invisible on desktop)
#sidebar-toggle{
    display: block;
}

// Sidebar content
#sidebar-content {
    margin: 10px 5px 5px 5px;
    font-size: $small-font-size;

    a {
        background-color: transparent;
        border-radius: 0px;
        padding: 0px 0px 0px 7px;
        display: block;
        text-transform: uppercase;

        color: $light-text-colour;

        &:hover {
            background-color: lighten($blue, 20%);
            padding: 0px 0px 0px 5px;
            border-left: 2px solid $blue;
            transition-duration: 0.25s;
            transition-property: background-color;
        }
    }

    ul, ol {
        margin: 0px;
        list-style-type: none;
    }

    li {
        margin-left: 0px;
        padding-left: 0px;
    }

    ul {

        // First-level list items
        li {
            font-weight: bold;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 80%;
                top: 105%;
                left: 7px;
                border-bottom: 0.1em solid $lightest-text-colour;
            }

            margin-bottom: 1em;
        }

        // Second-level list items
        ul {
            a {
                text-transform: none;
            }

            li {
                font-weight: normal;
                margin-left: 5px;

                &:after {
                    display: none;
                }

                margin-bottom: 0;
            }
        }
    }
}

// Mobile breakpoint
@media (max-width: $mobile-max) {

    // Center contents of header, and place toggles to the sides.
    header {
        justify-content: space-between;
    };

    #sidebar-content {
        font-size: $body-font-size + 4;
    };
}

#menu {
    list-style: none;

    li {
        float: left;
        position: relative;
        margin: 0px 10px 0px 0px;
        padding: 0px 0px 0px 0px;

        &:last-child {
            margin: 0px 0px 0px 0px;
        }

        // Section link
        a {
            display: block;
            padding: 2px 5px 2px 5px;
            font-size: $body-font-size;
            color: $background-colour;
            font-weight: bold;
        }

        // The hidden options menu
        ul {
            list-style: none;
            position: absolute;
            top: 10px;
            left: -9999px;
            background: lighten($green, 10%);


            li {
                float: none;
                margin-right: 0px;
            }
        }

        &:hover {
            background: lighten($green, 10%);
            transition: 0.25s;

            // The options menu, displayed when the section link is hovered over
            ul {
                left: 0;

                li a {
                    font-size: $body-font-size;
                    color: $text-colour;
                    font-weight: normal;
                    padding-left: 7px;


                    &:hover {
                        background-color: $green;
                        border-left: 2px solid $blue;
                        padding-left: 5px;
                        transition-duration: 0.25s;
                        transition-property: background-color;
                    }
                }
            }
        }
    }

}