//Override Bulma variables

$family-sans-serif: "Open Sans", sans-serif;

$grey-dark: #444444;
$grey: #666666;

//Material colours, from https://material.google.com/style/color.html
$pink: #e91e63;
$purple: #9c27b0;
$red: #f44336;
$blue: #2196f3;
$indigo: #3f51b5;
$deep-purple: #673ab7;
$teal: #009688;
$cyan: #00bcd4;
$light-blue: #03a9f4;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;

$primary: $pink;
$info: $purple;
$success: $deep-purple;

$rule-colour: $deep-purple;
$example-colour: $purple;

@import "bulma";

// Layout variables
$box-padding: 15px; //the padding above and below rules and examples

@import 'mixins';
@import 'features';

// Style the TOC with the menu-list class, without having to set the class
aside.menu {

    ul {
        @extend .menu-list;
    }
}

// Style hero images
h1.page-title {
    text-align: center;
    font-size: $size-1;
}

h2.page-sub-title {
    text-align: center;
    font-size: $size-4;
}

// Style content

.content {

    h1:not(:first-child) {
        margin-top: 25px;
    }

    h2:not(:first-child) {
        margin-top: 25px;
    }

    h3:not(:first-child) {
        margin-top: 25px;
    }

    p {
        font-size: 16px;
        text-align: left;
    }
}

table {
    @extend .table;
}

// Style navbar
a.is-home {
    font-size: $size-5;
    text-transform: uppercase;
}

// Style contents pages (chapters and texts)
.contents-link {
    font-size: $size-2;
    color: $text;
    display: block;

    &:hover {
        color: $primary;
    }
}

.contents-summary {
    font-size: $size-5;
    padding-left: 1em;
}

// Style lexicon
.lexicon {
    font-size: 16px;

    li:not(:first-child) {
        padding-top: 1em;
    }
}

h1.lexicon-word {
    display: inline;
    font-size: $size-4;
}

h2.part-of-speech {
    display: inline;
    padding-left: 0.5em;

    font-size: $size-5;
    font-style: italic;
    color: $grey;
}

ul.lexicon-definition {
    list-style-type: none;
    margin-left: 20px;

    li {
        &:first-child {
            padding-top: 1em;
        }

        &:not(:first-child) {
            padding-top: 3px;
        }
    }

    em {
        padding-right: 2px;
        color: $grey;
        font-size: $size-6;
    }
}

p.cultural-note {
    padding-top: 1em;
    margin-left: 20px;
    font-size: $size-6;
    color: $grey;
}

.control-label {
    flex-grow: 0;
}

hr {
    margin-top: 20px;
}

// Style texts
.text-section {
    table {
        table-layout: fixed;

        td {
            border: none;
            padding-bottom: 0.15em;
            padding-top: 0.15em;

        }

        tbody tr:first-child td{
            padding-top: 0.6em;
        }
    }

    p, ol {
        font-size: 16px;
        width: 75%;
        margin: auto;
        padding: 0 10px 10px 10px;

    }

    ol p {
        width: 100%;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: $tablet - 1){
        p, ol {
            width: 100%;
        }
    }
}

// Style homepage
p.title a {
    color: inherit;
}

p.intro {
    font-size: 16px;
    a {
        color: inherit;
        border-bottom: 1px solid white;
    }
}

//Style navbar
.nav-right {
    align-items: stretch;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: flex-end;
}

@media screen and (max-width: $tablet - 1) {
    a.nav-item.is-tab {
        padding-left: 6px;
        padding-right: 6px;
    }
}