// Colour definitions
$background-colour: #F5F4F7;
$example-colour: #D9D9DB;
$rule-colour: #FFC99B;
$text-colour: #303030;

//Layout definitions
$body-width: 600px;

//Typography definitions
$body-font-size: 16px;
$tag-font-size: 14px;

html{
    background: $background-colour;
}

body {
    margin: 0 auto 10px auto;
    max-width: $body-width;
    font-family: sans-serif;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $text-colour;
}

@mixin boxed($colour) {
    background: $colour;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 4px solid darken($colour, 30%);
    border-top: 1px solid darken($colour, 10%);
    border-bottom: 1px solid darken($colour, 10%);
    border-right: 1px solid darken($colour, 10%);
}

.example {
    @include boxed($example-colour);
    position: relative;
}

.example-target {
    font-size: $body-font-size + 2;
}

.example-gloss {
    font-variant: small-caps;
}

.example-native {
    font-style: italic;
}

.rule {
    @include boxed($rule-colour);
}

.rule-name {
    font-size: $body-font-size + 2;
}

.rule-definition {
    font-variant: small-caps;
}

@mixin tag($shade-colour, $text-colour) {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border-left: 1px solid darken($shade-colour, 10%);
    border-top: 1px solid darken($shade-colour, 10%);
    font-size: $tag-font-size;
    font-weight: bold;
    background-color: darken($shade-colour, 30%);
    color: $text-colour;
}

.example-tag {
    @include tag($example-colour, $background-colour);
}