// Colour definitions
$orange: #FFC99B;
$blue: #6F80AB;
$green: #7AC97F;
$black: #303030;

$background-colour: lighten($blue, 40%);
$example-colour: lighten($blue, 20%);
$rule-colour: $orange;
$text-colour: $black;

$table-colour: lighten($green, 20%);
$table-even-colour: $table-colour;
$table-odd-colour: lighten($table-colour, 10%);
$table-header-colour: darken($table-colour, 20%);

//Layout definitions
$body-width: 600px;
$sidebar-width: 200px;
$sidebar-toggle-width: 5px;

$header-height: 40px;

$header-padding: 0.5em;
$box-padding: 15px; //the padding above and below tables, rules, and examples

//Typography definitions
$body-font-size: 16px;
$title-font-size: 50px;
$tag-font-size: 14px;

html{
    background: $background-colour;
    font-family: sans-serif;
}

// Basic layout styling
* {margin: 0; padding: 0;}

#main-container {
    height: 100%;
    width: 100%;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $text-colour;
}

#body {
    margin: 0 auto 10px auto;
    max-width: $body-width;
}

// Styling for the sidebar menu
#sidebar {
    position: fixed;
    top: $header-height;
    left: $sidebar-toggle-width;
    height: 100%;
    width: $sidebar-width;
    background: lighten($blue, 35%);
    border-right: 2px solid lighten($blue, 20%)
}

// Styling for the sidebar toggle
#toggle {
    position: fixed;
    top: $header-height;
    left: 0px;
    height: 100%;
    width: $sidebar-toggle-width;
    background: lighten($blue, 20%);
    border-right: 2px solid lighten($blue, 10%);
    float: left;
}

// Header and title

#header {
    background-color: $green;
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid darken($green, 20%)
}

#nav {
    list-style: none;
    float: left;
    width: 100%;
    margin-top: $header-height / 2 - 14;
    margin-bottom: $header-height / 2 - 14;
}

#nav li {
    float: left;
    position: relative;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#nav a {
    display: block;
    background-color: transparent;
    border-radius: 0px;
    padding: 2px 5px 2px 5px;
    font-size: $body-font-size + 4;
}

#nav ul {
    list-style: none;
    position: absolute;
    top: 10px;
    left: -9999px;
    margin-right:0px;
    padding: 0px 0px 0px 0px;
    background: lighten($green, 10%);
}

#nav ul li {
    padding-top: 1px;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
}

#nav li:hover ul {
    left: 0;
}

#nav li:hover ul li a {
    font-size: $body-font-size;
    padding-left: 7px;
}

#nav li:hover ul li a:hover {
    background-color: $green;
    border-left: 2px solid $blue;
    padding-left: 5px;

}

h1.title {
    font-size: $title-font-size;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
}

// Styling for normal tags

h1, h2, h3, h4, h5, h6 {
    padding-top: $header-padding;
    padding-bottom: $header-padding;
}

ul, ol {
    margin-top: $box-padding;
    margin-bottom: $box-padding;
}

li {
    margin-left: 45px;
    padding-left: 5px;
}

a {
    text-decoration: none;
    color: $text-colour;
    background-color: $rule-colour;
    border-radius: 50px;
    padding: 2px 5px 2px 5px;
    font-size: $body-font-size - 2;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: $box-padding;
    margin-bottom: $box-padding;
}

th {
    //font-weight: bold;
    font-size: $body-font-size;
    //color: lighten($text-colour, 10%);
    color: $table-odd-colour;
    border-bottom: 1px solid darken($table-colour, 30%);
    background-color: $table-header-colour;
}

td {
    border-bottom: 1px solid darken($table-colour, 10%);
}

th, td {
    padding: 5px 10px 5px 10px;
}

tr.even {
    background-color: $table-even-colour;
}

tr.even:hover {
    background-color: darken($table-even-colour, 20%);
}

tr.odd {
    background-color: $table-odd-colour;
}

tr.odd:hover {
    background-color: darken($table-odd-colour, 20%);
}

caption {
    font-weight: bold;
    padding-bottom: 10px;
}

// Styling for new features

@mixin boxed($colour) {
    // Surrounds div in coloured box
    background: $colour;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 4px solid darken($colour, 30%);
    border-top: 1px solid darken($colour, 10%);
    border-bottom: 1px solid darken($colour, 10%);
    border-right: 1px solid darken($colour, 10%);
    margin-top: $box-padding;
    margin-bottom: $box-padding;
}

@mixin tag($shade-colour, $text-colour) {
    // Applies a label to the bottom-right of a box
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border-left: 1px solid darken($shade-colour, 10%);
    border-top: 1px solid darken($shade-colour, 10%);
    font-size: $tag-font-size;
    font-weight: bold;
    background-color: darken($shade-colour, 30%);
    color: $text-colour;
}

.example {
    @include boxed($example-colour);
    position: relative;

}

.example-target {
    font-size: $body-font-size + 2;
}

.example-gloss {
    font-variant: small-caps;
}

.example-native {
    font-style: italic;
}

.example-tag {
    @include tag($example-colour, $background-colour);
}

.rule {
    @include boxed($rule-colour);
}

.rule-name {
    font-size: $body-font-size + 2;
}

.rule-definition {
    font-variant: small-caps;
}

.word {
    position: relative;
    font-style: italic;
}

.word .definition {
    display: none;
}

.word:hover .definition {
    display: inline-block;
    background-color: $example-colour;

    position: absolute;
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    width: 10em;
    border-radius: 10px;

    font-size: $body-font-size - 2;
    font-style: normal;
    font-weight: bold;
}

.full-definition {
    font-size: $body-font-size - 4;
    font-style: italic;
    font-weight: normal;
    text-align: justify;
}

// Sidebar contents

#sidebar-content {
    padding: 5px;

}

#sidebar-content ul, ol {
    margin: 0px;
    list-style-type: none;
}

#sidebar-content li {
    margin-left: 0px;
    padding-left: 0px;
}


#sidebar-content ul {
    border-bottom: 0.1em solid lighten($blue, 30%);

}
// First-level list items
#sidebar-content ul li {
    font-weight: bold;
    font-size: $body-font-size;
}

// Second-level list items
#sidebar-content ul ul li {
	font-weight: normal;
    margin-left: 5px;
    font-size: $body-font-size - 2;
}

#sidebar-content a {
    background-color: transparent;
    border-radius: 0px;
    padding: 0px 0px 0px 2px;
    display: block;
}

#sidebar-content a:hover {
    background-color: lighten($blue, 20%);
    padding: 0px;
    border-left: 2px solid $blue;
}
